<div class="container col-7">
    <div class="card">
        <div class="card-header">
            <h4>Visión</h4>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad veniam consequuntur aspernatur nemo animi
            necessitatibus voluptatem quibusdam ut distinctio aut, libero, neque expedita quas nam esse eaque, ullam
            amet totam aperiam! Aperiam odio velit hic ea perspiciatis numquam? Vel quibusdam quidem provident quod
            natus nobis accusantium deleniti corporis repellendus explicabo, facere, earum expedita cum consequatur
            dignissimos itaque laborum veritatis? Voluptatem sequi fugit rem nostrum officia tempora, delectus dolore ab
            atque laudantium unde velit animi voluptatum?
        </div>
    </div>
</div>