<div class="container col-7">
    <div class="card">
        <div class="card-header">
            <h4>¿Quiénes somos?</h4>
        </div>
        <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit doloremque nulla similique at. Sunt culpa
            fugit cumque magnam commodi impedit omnis itaque sit quasi ipsum exercitationem, necessitatibus error
            voluptate doloremque animi aut iste, rerum excepturi maiores facilis! Facere explicabo facilis eius veniam
            odio, minus neque laboriosam reprehenderit maiores aperiam architecto?
            <br /> <br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus eos et quasi nemo alias expedita itaque
            pariatur delectus quibusdam ea aut neque quia, maiores, libero quaerat illo optio praesentium ratione.
            Voluptatum impedit voluptas laboriosam excepturi, rerum architecto nam quis reprehenderit eum adipisci
            accusantium suscipit tempora quod. Illum ratione quo libero.
        </div>
    </div>
</div>