<div class="container col-7">
  <div class="card">
    <div class="card-header">
      <h4>Cursos</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4" *ngFor="let curso of cursos">
          <div class="card mb-3 mt-3">
            <img [src]="curso.imagen" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{curso.nombre}}</h5>
              <p class="card-text">Profesor: {{curso.profesor}}</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary" [routerLink]="['/private', 'detalle-curso', curso.id]">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>