<div class="container col-7">
    <div class="card">
        <div class="card-header">
            <h4>Misión</h4>
        </div>
        <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit doloremque nulla similique at. Sunt culpa
            fugit cumque magnam commodi impedit omnis itaque sit quasi ipsum exercitationem, necessitatibus error
            voluptate doloremque animi aut iste, rerum excepturi maiores facilis! Facere explicabo facilis eius veniam
            odio, minus neque laboriosam reprehenderit maiores aperiam architecto?
        </div>
    </div>
</div>